.navbar {
    list-style-type: none;
    padding-bottom: 100px;
}

.about {
    color: rgb(201, 176, 255);
}

.residencias {
    color: rgb(201, 176, 255);
}

.investigacion {
    color: rgb(201, 176, 255);
}

.produccion {
    color: rgb(201, 176, 255);
}

.tecnica {
    color: rgb(201, 176, 255);
}

.livecoding {
    color: rgb(201, 176, 255);
}